element.style {
}

input#username, input#password {
    text-align: center;
}

input#username:placeholder-shown, input#password:placeholder-shown {
    text-align: center;
}

.input-field label {
    left: 0 !important;
}

.col.s12.m4.l4 {
    padding: 5px;
}

i ~ p {
    padding: 15px;
}

#forumBody .card {
    padding: 5px;
    padding-left: 10px;
}
.col.s12.m4.l4 a {
    color: #2f2f2f;
}

.col.s12.m4.l4 a:hover {
    color: #FF8F46;
}

.nav-wrapper {
    background-color: #4877D2;
}

.container {
    background-color: #ececec;
}

.z-depth-2 {
    background-color: white;
}

.container .row {
    margin: 0;
}

input.search {
    background-color: white;
    width: 75%;
    padding: 2px 0 0 10px;
}

input ~ i.small.material-icons {
    position: absolute;
    margin: 10px 0 0 -40px;
}

.born, .down, .rightt {
    display: none;
}

i.rightt.small.material-icons.show, i.down.small.material-icons.show {
    position: absolute;
    margin: 20px 0 0 655px;
}


.show {
    display: block !important;
}

li > h3 {
    box-shadow: 0 5px 38px -14px black;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
}

li > i.small.material-icons {
    position: absolute;
    margin: 20px 0 0 181px;
}